<ion-view title="{{'termsOfUse' | translate}}">
<ion-content style="color:#fff;">
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
			  
			  <ion-slide>

			  <center><h3 style="color:#fff;">Side Menu</h3><p>With Content Index</p></center>

					<img src="img/slide1.jpg" style="width: 100%; height: 80%; padding: 20px;">

			  </ion-slide>

			   <ion-slide>

			     <center><h3 style="color:#fff;">Latest Newssss</h3><p>The latest info about your favorite sport.</p></center>

					<img src="img/slide2.jpg" style="width: 100%; height: 80%; padding: 20px;">

			  </ion-slide>

			   <ion-slide>

			   <center><h3 style="color:#fff;">Pull to Refress feature</h3> <p>To be Updated of the latest news</p></center>

					<img src="img/slide3.jpg" style="width: 100%; height: 80%; padding: 20px;">

			  </ion-slide>

			   <ion-slide>

			  <center><h3 style="color:#fff;">Tutorials</h3><p>Become the Best!!!</p></center>

					<img src="img/slide3tuto.jpg" style="width: 100%; height: 80%; padding: 20px;">

			  </ion-slide>

			   <ion-slide>

			  <center><h3 style="color:#fff;">Celebrations</h3><p>Celebrate Goals Like a Boss!!!</p></center>

					<img src="img/slide3cele.jpg" style="width: 100%; height: 80%; padding: 20px;">

			  </ion-slide>

			   <ion-slide>

			   <center><h3 style="color:#fff;">Videotutorials</h3> <p>We update this section every week with new videos</p></center>

					<img src="img/slide4.jpg" style="width: 100%; height: 80%; padding: 20px;">

			  </ion-slide>


	</ion-slide-box>
</ion-content>
</ion-view>	